<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metodo2_e-mail</title>
</head>
<body>
    <div class="div1">
        <div class="div2">
            <form method="POST" action="">
                {% csrf_token %}
                <h1>Envia e-mail</h1>
                <input type="text" name="asunto" placeholder="asunto">
                <br>
                <input type="text" name="correo" placeholder="e-mail">  
                <br>             
                <textarea placeholder="mensagem" name="mensaje" id="" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Envia">
            </form>
        </div>
    </div>

</body>
</html>